@model IEnumerable<M32COM_CW.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h2>Team</h2>
@if (User.IsInRole("Member"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                Team Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var team in Model)
            {
            <tr>
            <td>@team.Name</td>
            <td></td>
            <td></td>
            <td>
                @if (team.Members.Count != 0)
                {
                    <a asp-action="Details" asp-route-id="@team.ID">Details</a>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("TeamManager"))
                {
                    <a asp-action="Edit" asp-route-id="@team.ID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@team.ID">Delete</a>
                }
            </td>
            </tr>
            }
    </tbody>
</table>
}

